.SummarySide {
    background-color: #f8f9fa;
}

.summary-object {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #d2d2d2;
    padding: 10px 0;
}

.summary-image {
    width: 30px;
}

.summary-object-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}